<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="strong" class=color:"red">Grocery Search </h1>
<form action="/grocery">
 <input type="text" name="brand">
  <input type="text" name="prodname" >
 <button type="submit">Search</button>
</form>
{{!-- we use a fixed_height version so all the gifs are the same height --}}
<!-- {{gifs}} -->


<!-- <img src="{{this.images.fixed_height.url}}" alt=""> -->

</body>
</html>
